.section {
  margin: 10px 10px;
  display: grid;
  background: white;
  grid-row-gap: 2px;
  grid-auto-rows: minmax(65px, auto);
}

.section__item {
  border-bottom: 3px solid #efefef;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-gap: 10px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .section {
    margin: 10px 15px;
  }
}

@media (max-width: 768px) {
  .section__item {
    grid-template-columns: 1fr;
  }
}

.section__header {
  margin-left: 20px;
  font-size: 19px;
  padding: 5px;
}

.section__list {
  padding: 0px;
}

.list__item {
  list-style: none;
  padding: 20px;
  border-bottom: 1px solid #838586;
  display: grid;
  align-items: center;
  word-break: break-all;
  grid-template-columns: 35px auto 40px;
}

.taskList__span {
  margin-left: 10px;
  margin-right: 10px;
}

.taskList__span--done {
  text-decoration: line-through;
}

.list__item--hide {
  display: none;
}
