.list__item {
  list-style: none;
  padding: 20px;
  border-bottom: 1px solid#EFEFEF;
  display: grid;
  align-items: center;
  word-break: break-all;
  grid-template-columns: 35px auto 40px;
}

.taskList__span {
  margin-left: 10px;
  margin-right: 10px;
}

.taskList__span--done {
  text-decoration: line-through;
}

.list__item--hide {
  display: none;
}

.done__button {
  background-color: #008000;
  width: 35px;
  height: 35px;
  border: none;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

.done__button:hover {
  background-color: #008000b7;
}

.remove__button {
  background-color: #eb293c;
  width: 35px;
  height: 35px;
  border: none;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

.remove__button:hover {
  background-color: #eb293cb4;
}
